:root {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-background: #605f4b; /* Light beige */
  --color-primary: #f4a258; /* Deep red */
  --color-secondary: #bdd3ce; /* Warm orange */
  --color-accent: #8c4d32; /* Rich brown */
  --color-text: #3b3b3b; /* Dark gray for text */
  --color-link: #c47457; /* Match primary color */
  --color-link-hover: #8c4d32; /* Change on hover */
  --color-header-background: #ffedd2; /* Dark gray for header */
  --color-header-text: #708c69; /* Light beige for header text */
  --color-footer-background: #8c4d32; /* Rich brown for footer */
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Raleway', sans-serif;
}

header {
  background-color: var(--color-header-background); /* Darker background */
  color: var(--color-header-text); /* Light text color for contrast */
  padding: 20px;
}

header h1 {
  color: var(--color-header-text); /* Ensure header text color matches */
  text-transform: uppercase;
}

header nav a {
  color: var(--color-header-text); /* Ensure nav link colors match */
}

header nav a:hover {
  color: var(--color-link-hover); /* Hover effect for links */
}

footer {
  background-color: var(--color-footer-background);
  color: #fff; /* Light text on dark background */
  padding: 20px;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-link-hover);
}

h1, h2, h3, h4 {
  color: var(--color-primary);
  font-weight: 800; /* Boldest weight */
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

button {
  background-color: var(--color-secondary);
  color: var(--color-text);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-accent);
}